*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
	box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: $main-font;
    font-weight: 500;
   
    
}

p, li, a {
    line-height: 2.1rem;
}

