.u-heading-l {
    font-family: $headings-font;
    font-weight: 500;
    font-size: 2.5rem;
    color: $white;
    text-transform: uppercase;
    
    
    @include mq($tablet, min) {
        font-size: 4rem;
        line-height: 5.56rem;
    }

    @include mq($lap-small, min) {
        font-size: 6rem;
        line-height: 11.2rem;
    }
}

.u-heading-md {
    font-family: $headings-font;
    font-weight: 500;
    font-size: 2.1rem;
    color: $white;
    text-transform: uppercase;
    line-height: 4.7rem;

    @include mq($tablet, min) {
        font-size: 3rem;
    }

    @include mq($lap-small, min) {
        font-size: 5rem;
        line-height: 9.4rem;
    }
}

.u-heading-sm {
    font-family: $headings-font;
    font-weight: 500;
    font-size: 1.8rem;
    color: $text;
    text-transform: uppercase;
    line-height: 4.6rem;

    @include mq($tablet, min) {
        font-size: 2.5rem;
    }

    @include mq($lap-small, min) {
        font-size: 3rem;
        line-height: 5.6rem;
    }
}