.u-heading-l {
    font-family: $headings-font;
    font-weight: 500;
    font-size: 6rem;
}
.u-heading-md {
    font-family: $headings-font;
    font-weight: 500;
    font-size: 5rem;
}
.u-heading-sm {
    font-family: $headings-font;
    font-weight: 500;
    font-size: 3rem;
}