// Media Queries
@mixin mq($value, $constraint: max, $feature: width) {
	@media screen and (#{$constraint}-#{$feature}: $value + px) {
		@content;
	}
}

@mixin flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

//line under titles
@mixin line{
	content: '';
	position: absolute;
	left: 50%;
	height: 2px;
	width: 8.4rem;
	bottom: -1rem;
	background-color: $color-red-secondary;
	transform: translateX(-50%);

	@include mq($tablet-l, min) {
<<<<<<< HEAD
			
=======
>>>>>>> 7aa224e0e59411e100e430bfecc8e67efdd3fd9c
			bottom: -2rem;
	}
}