//fonts
$main-font: 'lato';
// colors
$color-primary: #111111;
$color-primary-light: #333333;
$color-secondary: #eeeeee;
$white: #ffffff;
$black: #000000;
$border: #444444;
$icon: #999999;

// breakpoints
$phone-xs: 360;
$phone-sm: 480;
$phone-md: 576;
$phone: 640;
$tablet-sm: 767;
$tablet: 991;
$tablet-l: 1199;
$lap-small: 1250;
$lap-large: 1440;
$desktop-sm: 1520;
$desktop: 1620;
$big-desktop: 1800;

