//fonts
$main-font: 'Roboto';
$headings-font: 'Cairo';
// colors
$color-red: #E74315;
$color-red-secondary: #ba3016;
$color-green: #50FA7B;;
$color-beige: #FFB86C;
$color-orange: #EFAD66;
$color-blue: #00FFF0;
$white: #ffffff;
$black: #000000;
$background: #393939;
$border: #6f6f6f;
$text: #bcbcbc;
$icon: #999999;
$gray-1: #2d2c2f;
$gray-2: #2e2d30;
$gray-3: #131313;
$gray-4: #0C0C0C;

// breakpoints
$phone-xs: 360;
$phone-sm: 480;
$phone-md: 576;
$phone: 640;
$tablet-sm: 767;
$tablet: 991;
$tablet-l: 1199;
$lap-small: 1250;
$lap-large: 1440;
$desktop-sm: 1520;
$desktop: 1620;
$big-desktop: 1800;

