.hero-section {
    @include flex-center;
    flex-direction: column;
    background-image: url(../assets/images/hero-background.png);
    background-size: cover;
    color: $text;
    text-align: center;
    padding: 9rem 1rem 12rem;;
    position: relative;

    @include mq($lap-small, min) {
        height: 100vh;
    }
}

.hero-section__text {
    font-size: 1.2rem;
    font-weight: 500;

    @include mq($tablet, min) {
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
    }
}

.hero-section__title-box {
    display: flex;
    flex-direction: column;

    @include mq($phone, min) {
        flex-direction: row;
    }

    &:first-of-type {
        position: relative;
        margin-top: 1.5rem;

        &::before {
            @include line;
            top: -.2rem;

            @include mq($tablet, min) {
                top: -1.5rem;
            }

            @include mq($tablet-l, min) {
                top: -0.5rem;
            }
        }
    }
}

.hero-section__title-box-title-language {
    color: $text;
    margin-right: 1rem;
    position: relative;

    @include mq($tablet, min) {
        margin-right: 3rem;
    }

    &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 3rem;
        right: 50%;
        transform: translateX(50%);
        top: 4.5rem;
        background-color: $color-beige;

        @include mq($phone, min) {
            height: 3rem;
            width: 1px;
            right: -0.5rem;
            top: 1rem;
            transform: translateX(0);
        }

        @include mq($tablet, min) {
            top: 2.2rem;
            right: -1.5rem;
        }

        @include mq($lap-small, min) {
            right: -1.5rem;
            top: 3rem;
            height: 5.7rem;
        }

    }
}

.hero-section__scroll {
    position: absolute;
    left: 2rem;
    bottom: 10rem;
    transform: rotate(-90deg);

    @include mq($lap-small, min) {
        left: 10.9rem;
    }
}

.hero-section__scroll-text {
    position: relative;
    text-transform: uppercase;
    line-height: 1.6rem;

    &::after {
        @include line;
        left: -0.5rem;
        bottom: -1.2rem;

        @include mq($tablet, min) {
            bottom: -1.2rem; //to override line mixin media querry on big screen
        }
    }
}

.section-affixes {
    background-image: url(../assets/images/affixes.png);
    text-align: center;
    padding: 1rem 1rem 0;

    @include mq($tablet, min) {
        padding-top: 9.2rem;
    }
}

.affixes {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $border;
    padding: 2rem 0;

    @include mq($tablet-l, min) {
        padding: 0 10rem 3.2rem;
    }

    &--alt {
        border-bottom: none;
    }
}

.affixes__legend {
    color: $text;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-style: italic;

    @include mq($tablet, min) {
        font-size: 1.8rem;
        margin-bottom: 2.4rem;
    }

    &--alt {
        text-transform: uppercase;
        margin-bottom: 1rem;
        
        @include mq($tablet, min) {
            margin-bottom: 3.8rem;
        }
    }

    &--alt-line {
        position: relative;
        max-width: 92.7rem;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 2rem;

        @include mq($tablet, min) {
            margin-bottom: 5.6rem;
        }

        &::before {
            @include line;
            background-color: $color-green;

            @include mq($tablet, min) {
                bottom: -3rem;
            }
        }
    }
}

.affixes__text {
    color: $white;
    font-size: 1.2rem;
    font-weight: 400;

    @include mq($tablet, min) {
        font-size: 1.8rem;
    }
}

.affixes__heading {
    position: relative;
    margin: 0 0 2rem;

    @include mq($tablet-l, min) {
        margin: 0 0 5rem;
    }

    &::after {
        @include line;
    }

    &:not(:first-of-type) {
        margin-top: 2rem;

        @include mq($tablet, min) {
            margin-top: 5rem;
        }
    }
}
    
.section-affixes-and-schedule {
    background-image: linear-gradient(180deg, $gray-1 0%, $gray-2 0.01%, $gray-3 100%);
    text-align: center;
    padding: 1rem;

    @include mq($tablet, min) {
        padding: 3.3rem 0 4.4rem
    }
}

.considerations-section {
    background-image: url(../assets/images/considerations.png);
    background-size: cover;
    text-align: center;
    padding: 0 1rem 0;
}

.considerations-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid $border;
    padding: 2rem 0;

    @include mq($tablet-l, min) {
        padding: 3rem 10rem 8.7rem;
    }
}

.considerations__text {
    font-size: 1.2rem;
    color: $text;
    font-weight: 700;
    margin-bottom: 2rem;

    @include mq($tablet, min) {
        font-size: 1.8rem;
        margin-bottom: 5rem;
    }
}

.cosiderations__group {
    font-size: 1.2rem;
    font-weight: 400;
    color: $white;

    @include mq($tablet, min) {
        font-size: 1.8rem;
    }
}

.considerations__group-text {
    margin-bottom: 1rem;
    font-weight: 400;
    line-height: 2.1rem;

    @include mq($tablet, min) {
        margin-bottom: 2rem;
    }

    &--alt {
        margin-bottom: 0;
        text-align: left;
        font-weight: 700;

        @include mq($tablet, min) {
            line-height: 3rem;
        }
    }
}
.considerations__group-link {
    color: $color-blue;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.5s ease;

    &:hover {
        text-decoration: underline;
    }
}
.considerations__heading-sm {
    position: relative;
    margin-bottom: 2rem;
    align-self: start;

    @include mq($tablet, min) {
        margin-bottom: 5rem;
    }
    
        &::before {
            @include line;
            left: 0;
            transform: initial;
            background-color: $color-green;
        }
}

.considerations__list {
    list-style-type: none;
    text-align: left;
    

    @include mq($tablet, min) {
        margin-top: 3.9rem;
    }
}

.considerations__item {
    position: relative;
    font-size: 1.2rem;
    color: $text;
    font-weight: 700;

    @include mq($tablet, min) {
        font-size: 1.8rem;
    }

    &::before {
        content: '\25A0';
        color: $color-green;
        margin-right: 1.4rem;
    }
}

.icon-home {
    width: 1.1rem;
    height: 1.1rem;
    fill: magenta;
}

