*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  font-family: "Roboto";
  font-weight: 500; }

p, li, a {
  line-height: 2.1rem; }

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'Cairo';
  src: url(../assets/fonts/Cairo-Bold.ttf);
  font-weight: 700; }

.u-heading-l {
  font-family: "Cairo";
  font-weight: 500;
  font-size: 2.5rem;
  color: #ffffff;
  text-transform: uppercase; }
  @media screen and (min-width: 991px) {
    .u-heading-l {
      font-size: 4rem;
      line-height: 5.56rem; } }
  @media screen and (min-width: 1250px) {
    .u-heading-l {
      font-size: 6rem;
      line-height: 11.2rem; } }

.u-heading-md {
  font-family: "Cairo";
  font-weight: 500;
  font-size: 2.1rem;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 4.7rem; }
  @media screen and (min-width: 991px) {
    .u-heading-md {
      font-size: 3rem; } }
  @media screen and (min-width: 1250px) {
    .u-heading-md {
      font-size: 5rem;
      line-height: 9.4rem; } }

.u-heading-sm {
  font-family: "Cairo";
  font-weight: 500;
  font-size: 1.8rem;
  color: #bcbcbc;
  text-transform: uppercase;
  line-height: 4.6rem; }
  @media screen and (min-width: 991px) {
    .u-heading-sm {
      font-size: 2.5rem; } }
  @media screen and (min-width: 1250px) {
    .u-heading-sm {
      font-size: 3rem;
      line-height: 5.6rem; } }

.buttons__button {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  padding: 0.3rem 0.7rem;
  margin-bottom: 2rem; }
  @media screen and (min-width: 991px) {
    .buttons__button {
      font-size: 1.8rem;
      padding: 1rem 3.2rem;
      margin: 0 1.25rem 5rem; } }
  .buttons__button--1 {
    background-color: #50FA7B; }
  .buttons__button--2 {
    background-color: #FFB86C; }
  .buttons__button--3 {
    background-color: #E74315; }

.c-flag {
  display: flex;
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 1199px) {
    .c-flag {
      margin-bottom: 3rem; } }

.c-flag__main {
  fill: #E74315;
  width: 6px;
  height: 6px; }
  @media screen and (min-width: 991px) {
    .c-flag__main {
      width: 11px;
      height: 11px; } }
  .c-flag__main--center {
    fill: #FFB86C; }
  .c-flag__main--right {
    fill: #50FA7B; }

@media screen and (min-width: 640px) {
  .c-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

.box {
  position: relative;
  padding: 2rem;
  margin: 1rem;
  transition: all .3s ease; }
  .box:hover {
    box-shadow: 0px 4px 79px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.1); }
  .box--alt {
    border: 2px solid #E74315;
    background-color: rgba(0, 0, 0, 0.5); }
    .box--alt:hover {
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.5); }
  .box--alt-beige {
    border: 2px solid #FFB86C; }
  .box--alt-background {
    box-shadow: none;
    background-color: transparent; }

.box__languages {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #E74315;
  transform: translateX(-50%);
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  padding: 0.3rem 2.5rem;
  border-radius: 0 0 1rem 1rem; }
  @media screen and (min-width: 991px) {
    .box__languages {
      font-size: 1.6rem; } }
  .box__languages--beige {
    background-color: #FFB86C; }

.box__title {
  color: #E74315;
  text-transform: initial; }
  .box__title--beige {
    color: #FFB86C; }
  .box__title--green {
    color: #50FA7B; }

.box__text {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 1rem 0 2rem;
  position: relative;
  font-weight: 400; }
  .box__text::after {
    content: '';
    position: absolute;
    left: 50%;
    height: 2px;
    width: 8.4rem;
    bottom: -1rem;
    background-color: #ba3016;
    transform: translateX(-50%); }
    @media screen and (min-width: 1199px) {
      .box__text::after {
        bottom: -1.9rem; } }
  @media screen and (min-width: 991px) {
    .box__text {
      font-size: 1.8rem;
      margin: 1rem 0 4rem; } }
  .box__text--beige:after {
    background-color: #FFB86C; }
  .box__text--green:after {
    background-color: #50FA7B; }

.box__note {
  font-style: italic;
  color: #bcbcbc;
  font-size: 1.2rem;
  line-height: 1.6rem; }
  @media screen and (min-width: 991px) {
    .box__note {
      font-size: 1.4rem; } }

.table-wrapper {
  overflow-x: auto;
  width: 100%;
  margin: 0 auto; }

.c-table {
  position: relative;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
  border-collapse: collapse;
  padding: 5rem;
  width: 50rem;
  margin: 0 auto; }
  @media screen and (min-width: 991px) {
    .c-table {
      font-size: 1.6rem;
      width: 60rem; } }
  @media screen and (min-width: 1250px) {
    .c-table {
      font-size: 1.8rem;
      width: 90rem; } }

td, th {
  padding: 1rem 5rem;
  text-align: left; }

.c-table__first-row {
  background-color: #50FA7B;
  color: #383838; }

.c-table__content-row {
  transition: all 0.3s ease; }
  .c-table__content-row--alt {
    background-color: #383838; }
  .c-table__content-row:hover {
    background-color: #848484; }

.footer {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400; }
  @media screen and (min-width: 991px) {
    .footer {
      font-size: 1.8rem; } }

.footer__top {
  padding: 2rem 0; }
  @media screen and (min-width: 991px) {
    .footer__top {
      padding: 6rem 0; } }

.footer__text {
  margin-bottom: 1rem;
  font-weight: 700; }
  @media screen and (min-width: 991px) {
    .footer__text {
      margin-bottom: 4rem; } }

.footer-links {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 991px) {
    .footer-links {
      flex-direction: row;
      justify-content: center; } }

@media screen and (min-width: 991px) {
  .footer-links__text {
    margin: 0 2.2rem; } }

@media screen and (min-width: 1199px) {
  .footer-links__text {
    margin: 0 5rem; } }

.footer-links__link {
  color: #ffffff;
  text-decoration: none; }
  .footer-links__link--alt {
    color: #00FFF0; }

.footer__bottom {
  background-color: #393939; }

.footer__bottom-text {
  padding: 0.5rem;
  line-height: 1.9rem; }
  @media screen and (min-width: 991px) {
    .footer__bottom-text {
      padding: 1.8rem; } }

.navigation {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  text-align: right;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.7); }
  @media screen and (min-width: 991px) {
    .navigation {
      font-size: 1.6rem;
      padding: 0 1rem; } }
  @media screen and (min-width: 1199px) {
    .navigation {
      font-size: 1.8rem; } }

.navigation__hamburger {
  display: inline-block;
  position: relative;
  left: 1rem;
  top: -0.2rem;
  width: 1.6rem;
  height: 2px;
  background-color: #bcbcbc; }
  @media screen and (min-width: 991px) {
    .navigation__hamburger {
      display: none; } }
  .navigation__hamburger::before, .navigation__hamburger::after {
    position: absolute;
    top: 0.6rem;
    right: 0;
    content: '';
    width: 1.6rem;
    height: 2px;
    background-color: #bcbcbc; }
  .navigation__hamburger::after {
    top: 1.2rem; }

.navigation__checkbox {
  position: relative;
  opacity: 0; }
  @media screen and (min-width: 991px) {
    .navigation__checkbox {
      display: none; } }

.navigation__list {
  display: none;
  list-style-type: none;
  width: 100%;
  transition: all 0.5s ease; }
  @media screen and (min-width: 991px) {
    .navigation__list {
      display: flex;
      justify-content: center; } }

.navigation__item {
  overflow: none;
  position: relative; }
  @media screen and (min-width: 991px) {
    .navigation__item {
      display: inline-block; } }

.navigation__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 0.5rem;
  position: relative;
  transition: all 0.4s ease;
  z-index: 21; }
  @media screen and (min-width: 991px) {
    .navigation__link {
      padding: 1rem 2.5rem;
      display: inline-block; } }
  @media screen and (min-width: 1199px) {
    .navigation__link {
      padding: 2rem 5rem; } }
  .navigation__link::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #E74315;
    z-index: 20;
    transition: all 0.4s ease;
    opacity: 0; }

@media screen and (min-width: 991px) {
  .dropdown:hover > .dropdown__list {
    opacity: 1; } }

.dropdown__list {
  display: flex;
  text-align: center;
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-end;
  transition: all 0.5s ease;
  font-size: 1rem;
  opacity: 0; }
  @media screen and (min-width: 991px) {
    .dropdown__list {
      background-color: rgba(0, 0, 0, 0.7);
      flex-direction: column;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: fit-content;
      font-size: 1.8rem; } }
  .dropdown__list .navigation__link {
    color: #bcbcbc; }
    @media screen and (min-width: 991px) {
      .dropdown__list .navigation__link {
        color: #ffffff; } }
  .dropdown__list .navigation__link--drop {
    width: 100%; }

@media screen and (min-width: 991px) {
  .navigation__item:hover > .navigation__link {
    background-color: #E74315;
    border-radius: 5px; }
    .navigation__item:hover > .navigation__link::after {
      opacity: 1; } }

.navigation__item:hover > .navigation__link--drop::after {
  display: none; }

.navigation__checkbox:checked ~ .navigation__list {
  display: block; }

.l-container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto; }

.l-container-md {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 767px) {
    .l-container-md {
      max-width: 76.7rem; } }
  @media screen and (min-width: 1199px) {
    .l-container-md {
      max-width: 114rem; } }

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../assets/images/hero-background.png);
  background-size: cover;
  color: #bcbcbc;
  text-align: center;
  padding: 9rem 1rem 12rem;
  position: relative; }
  @media screen and (min-width: 1250px) {
    .hero-section {
      height: 100vh; } }

.hero-section__text {
  font-size: 1.2rem;
  font-weight: 500; }
  @media screen and (min-width: 991px) {
    .hero-section__text {
      font-size: 1.8rem;
      margin-bottom: 2.5rem; } }

.hero-section__title-box {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 640px) {
    .hero-section__title-box {
      flex-direction: row; } }
  .hero-section__title-box:first-of-type {
    position: relative;
    margin-top: 1.5rem; }
    .hero-section__title-box:first-of-type::before {
      content: '';
      position: absolute;
      left: 50%;
      height: 2px;
      width: 8.4rem;
      bottom: -1rem;
      background-color: #ba3016;
      transform: translateX(-50%);
      top: -.2rem; }
      @media screen and (min-width: 1199px) {
        .hero-section__title-box:first-of-type::before {
          bottom: -1.9rem; } }
      @media screen and (min-width: 991px) {
        .hero-section__title-box:first-of-type::before {
          top: -1.5rem; } }
      @media screen and (min-width: 1199px) {
        .hero-section__title-box:first-of-type::before {
          top: -0.5rem; } }

.hero-section__title-box-title-language {
  color: #bcbcbc;
  margin-right: 1rem;
  position: relative; }
  @media screen and (min-width: 991px) {
    .hero-section__title-box-title-language {
      margin-right: 3rem; } }
  .hero-section__title-box-title-language::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 3rem;
    right: 50%;
    transform: translateX(50%);
    top: 4.5rem;
    background-color: #FFB86C; }
    @media screen and (min-width: 640px) {
      .hero-section__title-box-title-language::before {
        height: 3rem;
        width: 1px;
        right: -0.5rem;
        top: 1rem;
        transform: translateX(0); } }
    @media screen and (min-width: 991px) {
      .hero-section__title-box-title-language::before {
        top: 2.2rem;
        right: -1.5rem; } }
    @media screen and (min-width: 1250px) {
      .hero-section__title-box-title-language::before {
        right: -1.5rem;
        top: 3rem;
        height: 5.7rem; } }

.hero-section__scroll {
  position: absolute;
  left: 2rem;
  bottom: 10rem;
  transform: rotate(-90deg); }
  @media screen and (min-width: 1250px) {
    .hero-section__scroll {
      left: 10.9rem; } }

.hero-section__scroll-text {
  position: relative;
  text-transform: uppercase;
  line-height: 1.6rem; }
  .hero-section__scroll-text::after {
    content: '';
    position: absolute;
    left: 50%;
    height: 2px;
    width: 8.4rem;
    bottom: -1rem;
    background-color: #ba3016;
    transform: translateX(-50%);
    left: -0.5rem;
    bottom: -1.2rem; }
    @media screen and (min-width: 1199px) {
      .hero-section__scroll-text::after {
        bottom: -1.9rem; } }
    @media screen and (min-width: 991px) {
      .hero-section__scroll-text::after {
        bottom: -1.2rem; } }

.section-affixes {
  background-image: url(../assets/images/affixes.png);
  text-align: center;
  padding: 1rem 1rem 0; }
  @media screen and (min-width: 991px) {
    .section-affixes {
      padding-top: 9.2rem; } }

.affixes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #6f6f6f;
  padding: 2rem 0; }
  @media screen and (min-width: 1199px) {
    .affixes {
      padding: 0 10rem 3.2rem; } }
  .affixes--alt {
    border-bottom: none; }

.affixes__legend {
  color: #bcbcbc;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-style: italic; }
  @media screen and (min-width: 991px) {
    .affixes__legend {
      font-size: 1.8rem;
      margin-bottom: 2.4rem; } }
  .affixes__legend--alt {
    text-transform: uppercase;
    margin-bottom: 1rem; }
    @media screen and (min-width: 991px) {
      .affixes__legend--alt {
        margin-bottom: 3.8rem; } }
  .affixes__legend--alt-line {
    position: relative;
    max-width: 92.7rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 2rem; }
    @media screen and (min-width: 991px) {
      .affixes__legend--alt-line {
        margin-bottom: 5.6rem; } }
    .affixes__legend--alt-line::before {
      content: '';
      position: absolute;
      left: 50%;
      height: 2px;
      width: 8.4rem;
      bottom: -1rem;
      background-color: #ba3016;
      transform: translateX(-50%);
      background-color: #50FA7B; }
      @media screen and (min-width: 1199px) {
        .affixes__legend--alt-line::before {
          bottom: -1.9rem; } }
      @media screen and (min-width: 991px) {
        .affixes__legend--alt-line::before {
          bottom: -3rem; } }

.affixes__text {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400; }
  @media screen and (min-width: 991px) {
    .affixes__text {
      font-size: 1.8rem; } }

.affixes__heading {
  position: relative;
  margin: 0 0 2rem; }
  @media screen and (min-width: 1199px) {
    .affixes__heading {
      margin: 0 0 5rem; } }
  .affixes__heading::after {
    content: '';
    position: absolute;
    left: 50%;
    height: 2px;
    width: 8.4rem;
    bottom: -1rem;
    background-color: #ba3016;
    transform: translateX(-50%); }
    @media screen and (min-width: 1199px) {
      .affixes__heading::after {
        bottom: -1.9rem; } }
  .affixes__heading:not(:first-of-type) {
    margin-top: 2rem; }
    @media screen and (min-width: 991px) {
      .affixes__heading:not(:first-of-type) {
        margin-top: 5rem; } }

.section-affixes-and-schedule {
  background-image: linear-gradient(180deg, #2d2c2f 0%, #2e2d30 0.01%, #131313 100%);
  text-align: center;
  padding: 1rem; }
  @media screen and (min-width: 991px) {
    .section-affixes-and-schedule {
      padding: 3.3rem 0 4.4rem; } }

.considerations-section {
  background-image: url(../assets/images/considerations.png);
  background-size: cover;
  text-align: center;
  padding: 0 1rem 0; }

.considerations-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #6f6f6f;
  padding: 2rem 0; }
  @media screen and (min-width: 1199px) {
    .considerations-wrapper {
      padding: 3rem 10rem 8.7rem; } }

.considerations__text {
  font-size: 1.2rem;
  color: #bcbcbc;
  font-weight: 700;
  margin-bottom: 2rem; }
  @media screen and (min-width: 991px) {
    .considerations__text {
      font-size: 1.8rem;
      margin-bottom: 5rem; } }

.cosiderations__group {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff; }
  @media screen and (min-width: 991px) {
    .cosiderations__group {
      font-size: 1.8rem; } }

.considerations__group-text {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 2.1rem; }
  @media screen and (min-width: 991px) {
    .considerations__group-text {
      margin-bottom: 2rem; } }
  .considerations__group-text--alt {
    margin-bottom: 0;
    text-align: left;
    font-weight: 700; }
    @media screen and (min-width: 991px) {
      .considerations__group-text--alt {
        line-height: 3rem; } }

.considerations__group-link {
  color: #00FFF0;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s ease; }
  .considerations__group-link:hover {
    text-decoration: underline; }

.considerations__heading-sm {
  position: relative;
  margin-bottom: 2rem;
  align-self: start; }
  @media screen and (min-width: 991px) {
    .considerations__heading-sm {
      margin-bottom: 5rem; } }
  .considerations__heading-sm::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 2px;
    width: 8.4rem;
    bottom: -1rem;
    background-color: #ba3016;
    transform: translateX(-50%);
    left: 0;
    transform: initial;
    background-color: #50FA7B; }
    @media screen and (min-width: 1199px) {
      .considerations__heading-sm::before {
        bottom: -1.9rem; } }

.considerations__list {
  list-style-type: none;
  text-align: left; }
  @media screen and (min-width: 991px) {
    .considerations__list {
      margin-top: 3.9rem; } }

.considerations__item {
  position: relative;
  font-size: 1.2rem;
  color: #bcbcbc;
  font-weight: 700; }
  @media screen and (min-width: 991px) {
    .considerations__item {
      font-size: 1.8rem; } }
  .considerations__item::before {
    content: '\25A0';
    color: #50FA7B;
    margin-right: 1.4rem; }

.icon-home {
  width: 1.1rem;
  height: 1.1rem;
  fill: magenta; }
