*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 10px; }

body {
  font-family: "Roboto"; }

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: 'Cairo';
  src: url(../assets/fonts/Cairo-Bold.ttf);
  font-weight: 700; }

.u-heading-l {
  font-family: "Cairo";
  font-weight: 500;
  font-size: 6rem; }

.u-heading-md {
  font-family: "Cairo";
  font-weight: 500;
  font-size: 5rem; }

.u-heading-sm {
  font-family: "Cairo";
  font-weight: 500;
  font-size: 3rem; }

.l-container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto; }

.l-container-md {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto; }
