.c-boxes {

    @include mq($phone, min) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.box {
    position: relative;
    padding: 2rem;
    margin: 1rem;
    transition: all .3s ease;
    

    &:hover {
        box-shadow: 0px 4px 79px rgba($black, 0.4);
        background-color: rgba($white, 0.1);
    }

    &--alt {
        border: 2px solid $color-red;
        background-color: rgba($black, 0.5);

        &:hover {
            box-shadow: none;
            background-color: rgba($black, 0.5);
        }
    }

    &--alt-beige {
        border: 2px solid $color-beige;
    }

    &--alt-background {
        box-shadow: none;
        background-color: transparent;
    }
}

.box__languages {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: $color-red;
    transform: translateX(-50%);
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $white;
    font-weight: 500;
    padding: 0.3rem 2.5rem;
    border-radius: 0 0 1rem 1rem;

    @include mq($tablet, min) {
        font-size: 1.6rem;
    }

    &--beige {
        background-color: $color-beige;
    }

}

.box__title {
    color: $color-red;
    text-transform: initial;

    &--beige {
        color: $color-beige;
    }

    &--green {
        color: $color-green;
    }
}

.box__text {
    color: $white;
    font-size: 1.2rem;
    margin: 1rem 0 2rem;
    position: relative;

    &::after {
       @include line;
    }

    @include mq($tablet, min) {
        font-size: 1.8rem;
        margin: 1rem 0 4rem;
    }

    &--beige {

        &:after {
            background-color: $color-beige;
        }
    }

    &--green {

        &:after {
            background-color: $color-green;
        }
    }
}

.box__note {
    font-weight: 500;
    font-style: italic;
    color: $text;
    font-size: 1.2rem;

    @include mq($tablet, min) {
        font-size: 1.4rem;
    }
}