.buttons__button {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    color: $white;
    padding: 0.3rem 0.7rem;
    margin-bottom: 2rem;
    perspective: 1500px;
    width: 9.8rem;
    height: 2rem;

    @include mq($phone, min) {
        font-size: 1.4rem;
        padding: 0.5rem 1.5rem;
        margin: 0 0.5rem 5rem;
        width: 12rem;
        height: 3rem;
    }

    @include mq($tablet-sm, min) {
        font-size: 1.6rem;
        padding: 0.8rem 2.5rem;
        margin: 0 1.25rem 5rem;
        width: 14rem;
        height: 4rem;
    }

    @include mq($tablet, min) {
        font-size: 1.8rem;
        padding: 1rem 3.2rem;
        width: 17rem;
        height: 5rem;
    }

    &--1 {
        .button-side {
            background-color: $color-green;
        }
    }

    &--2 {
        .button-side {
            background-color: $color-beige;
        }
    }

    &--3 {
        .button-side {
            background-color: $color-red;
        }
    }
}

.button-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all 1s ease;
    @include flex-center;

    &--back {
        transform: rotateY(180deg);
    }
}
.buttons__button:hover>.button-side--front {
    transform: rotateY(-180deg);
}

.buttons__button:hover>.button-side--back {
    transform: rotateY(0);
    
    &--1 {
        background-color: darken($color-green, 15%);
    }

    &--2 {
        background-color: darken($color-beige, 15%);
    }

    &--3 {
        background-color: darken($color-red, 15%);
    }
}

.buttons__button-link {
    text-decoration: none;
    color: $white;
}