.c-flag {
    display: flex;
    margin-bottom: 1.5rem;

    @include mq($tablet-l, min) {
        margin-bottom: 3rem;
    }
}

.c-flag__main {
    fill: $color-red;
    width: 6px;
    height: 6px;

    @include mq($tablet, min) {
        width: 11px;
        height: 11px;
    }

    &--center {
        fill: $color-beige;
    }

    &--right {
        fill: $color-green;
    }
}