.c-flag {
    display: flex;
    margin-bottom: 1.5rem;

    @include mq($tablet-l, min) {
        margin-bottom: 3rem;
    }
}

.c-flag__main {
    fill: $color-red;
    width: 6px;
    height: 6px;
    animation-name: box-size;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0.3s;

    @include mq($tablet, min) {
        width: 11px;
        height: 11px;
    }

    &--center {
        fill: $color-beige;
        animation-delay: 0.4s;
    }

    &--right {
        fill: $color-green;
        animation-delay: 0.5s;
    }
}