.table-wrapper {
	overflow-x: auto;
	width: 100%;
	margin: 0 auto;
}

.c-table {
	position: relative;
	font-size: 1.4rem;
	font-weight: 500;
	color: $white;
	border-collapse: collapse;
	padding: 5rem;
	width: 50rem;
	margin: 0 auto;

	@include mq($tablet, min) {
		font-size: 1.6rem;
		width: 60rem;
	}

	@include mq($lap-small, min) {
		font-size: 1.8rem;
		width: 90rem;
	}

}

td, th {
	padding: 1rem 5rem;
	text-align: left;
}

.c-table__first-row {
	background-color: $color-green;
	color: $table-header;
}

.c-table__content-row {
	transition: all 0.3s ease;
	&--alt {
		background-color: $table-header;
		}
	
	&:hover {
		background-color: $table-gray;
	}
}