.table-wrapper {
	overflow-x: auto;
	width: 100%;
	margin: 0 auto;
}

.c-table {
	position: relative;
	font-size: 1.8rem;
	font-weight: 500;
	color: $white;
	border-collapse: collapse;
	padding: 5rem;
	width: 90rem;
	margin: 2rem auto;

}

td, th {
	padding: 1rem 5rem;
	text-align: left;
}

.c-table__first-row {
	background-color: $color-green;
	color: $table-header;
}

.c-table__content-row {

	&--alt {
	background-color: $table-header;
	}

	&--alt-1 {
		background-color: $table-gray;
	}
}