.navigation {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	text-align: right;
	padding: 1rem;
	font-size: 1.2rem;
	font-weight: 700;
	background-color: rgba($black, 0.7);

	@include mq($tablet, min) {
		font-size: 1.6rem;
		padding: 0 1rem;
	}

	@include mq($tablet-l, min) {
		font-size: 1.8rem;
	}
}

.navigation__hamburger {
	display: inline-block;
	position: relative;
	left: 1rem;
	top: -0.2rem;
	width: 1.6rem;
	height: 2px;
	background-color: $text;

	@include mq($tablet, min) {
		display: none;
	}

	&::before, &::after {
		position: absolute;
		top: 0.6rem;
		right: 0;
		content: '';
		width: 1.6rem;
		height: 2px;
		background-color: $text;
	}

	&::after {
		top: 1.2rem;
	}
}

.navigation__checkbox {
	position: relative;
	opacity: 0;

	@include mq($tablet, min) {
		display: none;
	}
}

.navigation__list {
	display: none;
	list-style-type: none;
	width: 100%;
	transition: all 0.4s ease;

	@include mq($tablet, min) {
		display: flex;
		justify-content: center;
	}
}

.navigation__item {
	overflow: none;
	position: relative;

	@include mq($tablet, min) {
		display: inline-block;
	}
}

.navigation__link {
	color: $white;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	padding: 0.5rem;
	position: relative;
	transition: all 0.4s ease;
	z-index: 21;

	@include mq($tablet, min) {
		padding: 1rem 2.5rem;
		display: inline-block;
	}

	@include mq($tablet-l, min) {
		padding: 2rem 5rem;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: -1rem;
		left: 50%;
		transform: translateX(-50%);
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid $color-red;
		z-index: 20;
		transition: all 0.4s ease;
		opacity: 0;
	}
}

.dropdown:hover>.dropdown__list {

	@include mq($tablet, min) {
		opacity: 1;
	}
}

.dropdown__list {
	display: flex;
	text-align: center;
	width: 100%;
	margin: 0;
	flex-wrap: wrap;
	justify-content: flex-end;
	transition: all 0.5s ease;
	font-size: 1rem;

	@include mq($tablet, min) {
		background-color: rgba($black, 0.7);
		flex-direction: column;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: fit-content;
		font-size: 1.8rem;
		opacity: 0;
	}

	.navigation__link {
		color: $text;

		@include mq($tablet, min) {
			color: $white;
		}
	}

	.navigation__link--drop {
	 width: 100%
	}
}

.navigation__item:hover>.navigation__link {

	@include mq($tablet, min) {
		background-color: $color-red;
		border-radius: 5px;
	
		&::after {
			opacity: 1;
		}
	}
}

.navigation__item:hover>.navigation__link--drop {
	
	&::after {
		display: none;
	}
}

.navigation__checkbox:checked~.navigation__list {
	display: block;
}
